*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
}

h1{
    color:  white;
   text-align: center;
   margin-top : 80px;
}

span{
    color:#FF4D00;
    padding: 15px;
}

.container{
    background-color:  #1E1E1E;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -25px 0 0 -25px;
    border-radius: 10px;
    box-shadow: 5px 18px 5px 0px rgba(0, 0, 0, 0.25);
}

.fill{
    margin-bottom: 10px;
    width: auto;
    height: 40px;
    margin: 5px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

label{
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    display: inline-block;
    padding-right: 20px;
    display: inline-block;
} 

input{
    width: 150px;
    height: 20px;
    display: inline-block;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-align: center;
    display: inline-block;
    
}
.button{
    margin: 10px;
    position: absolute;
    left: 40%;
    margin-top: 15px;
}

